@import "compass/css3";

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: 100%;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

p{
    color:black;
}

tr {
    color: black;
    height: 50px;
    padding: 15px;
}

.formsmall {
    width: 100px;
}

th {
    height: 100px;
    padding: 15px;
}

body{
    /*background-color: #191970;*/
    background-image: url("tweede-kamer-min.jpg");
    background-repeat: repeat-x;
    background-size: cover;
}




.cblock {
    border-collapse:separate;
    border:solid black 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}


.first-column {
    width: 40%;
    padding: 0 10px 0 0;
    float: left;
}

.second-column {
    width: 60%;
    padding: 0 10px 0 0;
    float: right;
}

@media only screen and (max-width: 800px) {

   .first-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

    .second-column {
        width: 100%;
        padding-bottom: 10px;
        float: none;
    }

}

#rcorners1 {
  border-radius: 25px;
  background: white;
  border: 4px solid orange;
  padding: 20px;
  width: 400px;
  height: auto;
}

#rcorners2 {
  border-radius: 25px;
  background: white;
  border: 4px solid darkred;
  padding: 20px;
  width: auto;
  height: auto;
}

#rcorners3 {
  border-radius: 25px;
  background: white;
  border: 4px solid orange;
  width: 1000px;
  height: auto;
}

/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

/* Style the input fields */
.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

.button1 {
    background-color: grey;
    color: white;
    width: auto;
    height: 40px;
    border-radius: 5px;
}

.button2 {
    background-color: lightblue;
    color: white;
    width: auto;
    height: 40px;
    border-radius: 5px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: white;
  color: white;
  border-color: grey;
  border-radius: 2px;
  text-align: center;
}

/*#question{*/
/*    width:500px;*/
/*    height : 125px;*/
/*    position: absolute;*/
/*    right:0;*/
/*    top:0;*/
/*}*/
/*#question p{*/
/*    margin : 0;*/
/*    padding : 15px;*/
/*    font-size: 1.25em;*/
/*}*/

/*#choices{*/
/*    width : 480px;*/
/*    position: absolute;*/
/*    right : 0;*/
/*    top : 125px;*/
/*    padding : 10px*/
}
.choice{
    display: inline-block;
    width : 135px;
    text-align: center;
    border : 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding : 5px;
}

.choice{
    border : 1px solid grey;
    border-radius: 20px;
}

.choice:hover{
<<<<<<< HEAD
=======
<<<<<<< HEAD
    border : 2px solid grey;
    font-weight: bold;
=======
>>>>>>> 4e19dac7b5bcf6bf073ad42b269be755ca570ecd
    color: blue;
}

.choice:active{
    color: blue;
    border: 1.5px solid grey;
<<<<<<< HEAD
=======
>>>>>>> 88383455a62063146ac736c4dbbd616ed3c094a3
>>>>>>> 4e19dac7b5bcf6bf073ad42b269be755ca570ecd
}

#timer{
    height : 100px;
    width : 200px;

    text-align: left;
}
#counter{
    font-size: 3em;
}
#btimeGauge{
    width : 150px;
    height : 10px;
    border-radius: 10px;
    background-color: white;

}
#timeGauge{
    height : 10px;
    border-radius: 10px;
    background-color: mediumseagreen;

}
#progress{
    width : 500px;

    text-align: right;
}
/*.prog{*/
/*    width : 25px;*/
/*    height : 25px;*/
/*    border: 1px solid #000;*/
/*    display: inline-block;*/
/*    border-radius: 50%;*/
/*    margin-left : 5px;*/
/*    margin-right : 5px;*/
/*}*/
/*#scoreContainer{*/
/*    margin : 20px auto;*/
/*    background-color: white;*/
/*    opacity: 0.8;*/
/*    height: 300px;*/
/*    width : 700px;*/
/*    border-radius: 5px;*/
/*    box-shadow: 0px 5px 15px 0px;*/
/*    position: relative;*/
/*    display: none;*/
/*}*/
/*#scoreContainer img{*/
/*    position: absolute;*/
/*    top:100px;*/
/*    left:325px;*/
/*}*/
/*#scoreContainer p{*/
/*    position: absolute;*/
/*    display: block;*/
/*    width : 59px;*/
/*    height :59px;*/
/*    top:130px;*/
/*    left:325px;*/
/*    font-size: 1.5em;*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*}*/
