{% extends "layout.html" %}

{% block title %}
    Finalroom
{% endblock %}

{% block main %}

<div id="rcorners3">
    <h1>Welkom in de Finale!</h1>
    <p> Klik op finale starten als je klaar bent om te spelen. <br> <b> Als jij en je tegenstander beide klaar zijn begint de finale! </b></p>
    <br>
    <b><font color="green" id="ready" style="display:none">Wachten op tegenstander...</font></b>

    <form id="readybutton" name="startgame"></form>
        <button id="button" class="btn btn-primary" onclick="userready()";>Finale starten</button>
    </form><br><br>


     <img src="static/Spinner-1s-200px (1).gif">

</div>
<script>

const button = document.getElementById("button");
const ready = document.getElementById("ready");

// Register user as "ready for game" in database
function userready(){
    url = "/userready?arg=set";
    $.get(url, function(data){
        if (data == true)
        {
            button.style.display = "none";
            ready.style.display = "block";
            gameready();
        }
    })
}

// Check if all users are ready to play
function gameready(){
       readytimer=setInterval(function()
    {
        url = "/userready?arg=checkfinal";
        $.get(url, function(data) {
            // If ready, start game
            if (data == true)
            {
                clearInterval(readytimer);
                window.location.href = "/final"

            }
        });
    }, 50);
    }
</script>
{% endblock %}