{% extends "layout.html" %}

{% block title %}
    Spel
{% endblock %}

{% block main %}

    <div class="first-column">

        <div id="rcorners1">
            <large><font align="left" color="blue">Gebruikersnaam: {{ user }}</font><br></large>
            <h5>Kamer: {{ room }}</h5>
            <hr>
        </div>
    </div>

    <div class="second-column">
        <div id="rcorners2">
            <div id ="wait">
                <h3>Aan het laden, even geduld aub...</h3>
                <img src="static/30.gif">
                <br><br><br>
            <div id="quiz" style="display: none">
                <h2 id="question"></h2>

                <small>Categorie: </small>
                <h5 id="category"></h5><hr>
                <font id="incorrect" color="red">Helaas, dat is fout!</font>
                <font id="correct" color="green">Jouw gekozen antwoord is goed!</font>
                <div id="choices">
                    <div class="choice" id="A" onclick="checkAnswer(0)"></div><br>
                    <div class="choice" id="B" onclick="checkAnswer(1)"></div><br>
                    <div class="choice" id="C" onclick="checkAnswer(2)"></div><br>
                    <div class="choice" id="D" onclick="checkAnswer(3)"></div><br>
                </div>
                <div id="timer">
                    <div id="counter"></div>
                    <div id="btimeGauge"></div>
                    <div id="timeGauge"></div>
                </div>
                <div id="progress"></div>
            </div>
            <div id="scoreContainer"></div>
            </div>
        </div>
    </div>
    <script>





// select all elements
const choosecat = document.getElementById("choosecat");
const fractie = document.getElementById("0");
const spectrum = document.getElementById("1");
const geschiedenis = document.getElementById("2");
const uitspraken = document.getElementById("3");
const quiz = document.getElementById("quiz");
const question = document.getElementById("question");
const category = document.getElementById("category")
const qImg = document.getElementById("qImg");
const choiceA = document.getElementById("A");
const choiceB = document.getElementById("B");
const choiceC = document.getElementById("C");
const choiceD = document.getElementById("D");
const counter = document.getElementById("counter");
const timeGauge = document.getElementById("timeGauge");
const progress = document.getElementById("progress");
const scoreDiv = document.getElementById("scoreContainer");
const correct = document.getElementById("correct");
const incorrect = document.getElementById("incorrect");
const questionno = document.getElementById("questionno");
const wait = document.getElementById("wait");
const userscoreshow = document.getElementById("userscore");

const lastQuestion = 100;
let numberQuestion = 0;
let runningQuestion;
let count = 20;
const questionTime = 20; // 20s
const gaugeWidth = 550; // 150px
const gaugeUnit = gaugeWidth / questionTime;
let TIMER;
let filled = 0;

// get questions from database
let questions = {{ questions | safe }}



// Hide options if option is clicked
function hide(hide){
    var a = document.getElementById("A");
    var b = document.getElementById("B");
    var c = document.getElementById("C");
    var d = document.getElementById("D");

    if (hide == 0){
        a.style.display = "block";
        b.style.display = "block";
        c.style.display = "block";
        d.style.display = "block";
    }else{
        a.style.display = "none";
        b.style.display = "none";
        c.style.display = "none";
        d.style.display = "none";
    }
}


// Shuffle indexes of questions
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}


//  When page fully loaded
    jQuery(document).ready(function(){
        hide(0);
        correct.style.display = "none";
        incorrect.style.display = "none";
        startQuiz();

    });


// Start quiz, set timer for question
function startQuiz(){
    filled = 0;
    wait.style.display = "none";
    // Reset userscores
    reset();
    // Get information for next question
    checkquestion();
    renderProgress();
    renderCounter();

    // Run every second
    TIMER = setInterval(renderCounter,1000); // 1000ms = 1s
}

// Reset userscore for next question
function reset()
    {
        url = "/finalscores?arg=reset";
        $.get(url, function(data) {
            if (data == true)
            {}
        });
    }

var index;

// Checks index of current question
function checkquestion()
    {
        url= "/checkquestion?room=" + '{{ room }}';
        // If loaded, start gotData
        $.getJSON(url, gotData)
    }

// If loaded, render question
function gotData(data){
    index = data;
    renderQuestion(index)
    quiz.style.display = "block";
}

function nextquestion(option){
    choosecat.style.display = "none"
    url = "/question?cat=" + option;
    $.getJSON(url, function(data){
        if(data == true)
        {}
    })
}


// render a question
function renderQuestion(index){
    // Get index of next question
    runningQuestion = index;

    // Unhide questionblock
    hide(0);
    // Hide feedback (correct/incorrect)
    correct.style.display = "none";
    incorrect.style.display = "none";

    // Get questionoptions and shuffle them randomly
    let q = questions[runningQuestion];
    answers = [q.correct, q.answer2, q.answer3, q.answer4]
    let index_array = shuffle([0, 1, 2, 3])

    // to check later if answer is correct
    correctindex = index_array.indexOf(0)

    question.innerHTML = "<p>"+ q.question +"</p>";
    category.innerHTML = q.category
    choiceA.innerHTML = answers[(index_array[0])];
    choiceB.innerHTML = answers[(index_array[1])];
    choiceC.innerHTML = answers[(index_array[2])];
    choiceD.innerHTML = answers[(index_array[3])];
}





// Render progress
function renderProgress(){
    for(let qIndex = 0; qIndex <= lastQuestion; qIndex++){
        progress.innerHTML += "<div class='prog' id="+ qIndex +"></div>";
    }
}

function renderCounter(){
    if(count > 0){
        counter.innerHTML = count + " sec.";
        timeGauge.style.width = count * gaugeUnit + "px";
        count--

    // If 20 seconds have passed (end question)
    }else{
        // Hide quiz (questions)
        quiz.style.display = "none";
        // Clear TIMER and set counter back to 0
        hide(1)
        wait.style.display = "block";
        clearInterval(TIMER)
        count = 20;

        // If user didn't choose an option
        if(filled == 0){
            // Incorrect answer
            score(incorrect)
        }

        // Set random next question
        nextindex = Math.floor(Math.random() * 3);
        nextquestion(nextindex)
        // Wait 10 seconds for next question
        setTimeout(function wait(){

            // remove category choice box and start new question
            check();}, 10000);
}

// Update userscore to database
function score(correct_incorrect)
    {
        url = "/finalscores?arg=" + correct_incorrect;
        $.get(url, function(data) {
            if (data == true)
            {}
        });
    }

// Check if all users have correct answer
function check()
    {
        url = "/finalscores?arg=check";
        $.get(url, function(data) {
            // If your answer was correct and the other user answered wrong
            if (data == true)
            {
                window.location.href = "/winner"
            }
            // If your answer is wrong and the other user answered correct
            else if (data == false)
            {
                window.location.href = "/lost"
            }
            // Go to next question if both have answer correct/wrong
            else
            {
                startQuiz();
            }
        });
    }

// Check if answer was correct
function checkAnswer(answer){
    filled = 1;
    if( answer == correctindex){
        // answer is correct
        score("correct")
        correct.style.display = "block";

    }else{
        // answer is wrong
        score("incorrect")
        incorrect.style.display = "block";
    }
    hide(1);
}


</script>
{% endblock %}