{% extends "layout.html" %}

{% block title %}
    Finalroom
{% endblock %}

{% block main %}

<div id="rcorners3"><br><br>
    <h1>Welkom in de Finale!</h1>
    <p> Klik op finale starten als je klaar bent om te spelen. <br> <b> Als jij en je tegenstander beide klaar zijn begint de finale! </b></p>
    <br>
    <b><font color="green" id="ready" style="display:none">Wachten op tegenstander...</font></b>

    <form id="readybutton" name="startgame"></form>
        <button id="button" class="btn btn-primary" onclick="userready()";>Finale starten</button>
    </form><br><br>
    <hr>
    <h5>Finalespel</h5>
        <div id="text1" style="display:none">Welkom bij de finaleronde! </div>
        <div id="text2" style="display:none">Hier spelen de twee beste spelers net zo lang tot er een een vraag fout heeft.</div>
        <div id="text3" style="display:none">Heeft de ander de vraag ook fout? Dan gaat het spel gewoon door.</div>
        <div id="text4" style="display:none">Veel plezier!</div>
    <div id="loading" >aan het laden...</div><br><br>

     <img src="static/Spinner-1s-200px (1).gif">
</div>
<script>

const button = document.getElementById("button");
const ready = document.getElementById("ready");

// Register user as "ready for game" in database
function userready(){
    url = "/userready?arg=set";
    $.get(url, function(data){
        if (data == true)
        {
            button.style.display = "none";
            ready.style.display = "block";
            gameready();
        }
    })
}

// Check if all users are ready to play
function gameready(){
       readytimer=setInterval(function()
    {
        url = "/userready?arg=checkfinal";
        $.get(url, function(data) {
            // If ready, start game
            if (data == true)
            {
                clearInterval(readytimer);
                window.location.href = "/final"

            }
        });
    }, 50);
    }

//When page fully loaded
    jQuery(document).ready(function(){
            text();
    });


let count = -1;
const text1 = document.getElementById("text1");
const text2 = document.getElementById("text2");
const text3 = document.getElementById("text3");
const text4 = document.getElementById("text4");
const loading = document.getElementById("loading");


function text(){
    setInterval(function(){
        count ++;
        if(count == 0){
            text4.style.display = "none";
            text1.style.display = "block";
            loading.innerHTML = (count + 1) + "/4"
        }
        if(count == 1){
            text1.style.display = "none";
            text2.style.display = "block";
            loading.innerHTML = (count + 1) + "/4"
        }
        if(count == 2){
            text2.style.display = "none";
            text3.style.display = "block";
            loading.innerHTML = (count + 1) + "/4"
        }
        if(count == 3){
            text3.style.display = "none";
            text4.style.display = "block";
            loading.innerHTML = (count + 1) + "/4"
            count = -2;

        }
    }, 4000);
}
</script>
{% endblock %}