{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="first-column">
        <div id="rcorners1">
            <large><font align="left" color="blue">Jij: {{ user }}</font><br></large>
            <h5>Kamer: {{ room }}</h5>
            <hr>
            <table class="table table-striped" style="width:100%">
              <tr>
                <th>Spel er</th>
                <th>Score</th>
              </tr>
                {% for player in scores %}
              <tr>
                <td>{{ scores.user }}</td>
                <td>{{ scores.score}}</td>
              </tr>
                {% endfor %}
            </table>
            <select></select>



        </div>
    </div>
    <div class="second-column">
        <div id="rcorners2">
            <div id="quiz" style="display: none">
                <h2 id="question"></h2>
                <small>Categorie: </small>
                <h5 id="category"></h5><hr>
                <font id="incorrect" color="red">Helaas, dat is fout!</font>
                <font id="correct" color="green">Jouw gekozen antwoord is goed!</font>
                <div id="choices">
                    <div class="choice" id="A" onclick="checkAnswer(0)"></div><br>
                    <div class="choice" id="B" onclick="checkAnswer(1)"></div><br>
                    <div class="choice" id="C" onclick="checkAnswer(2)"></div><br>
                    <div class="choice" id="D" onclick="checkAnswer(3)"></div><br>
                </div>
                <div id="timer">
                    <div id="counter"></div>
                    <div id="btimeGauge"></div>
                    <div id="timeGauge"></div>
                </div>
                <div id="progress"></div>
            </div>
            <div id="scoreContainer"></div>
            </div>
        </div>
    </div>
    <script>





    // Select all elements
    // select all elements

const quiz = document.getElementById("quiz");
const question = document.getElementById("question");
const category = document.getElementById("category")
const qImg = document.getElementById("qImg");
const choiceA = document.getElementById("A");
const choiceB = document.getElementById("B");
const choiceC = document.getElementById("C");
const choiceD = document.getElementById("D");
const counter = document.getElementById("counter");
const timeGauge = document.getElementById("timeGauge");
const progress = document.getElementById("progress");
const scoreDiv = document.getElementById("scoreContainer");
const correct = document.getElementById("correct");
const incorrect = document.getElementById("incorrect");

// get questions from database
let questions = {{ questions | safe }}


const lastQuestion = {{ amount }} - 1;
let runningQuestion = 0;
let count = 0;
const questionTime = 7; // 10s
const gaugeWidth = 550; // 150px
const gaugeUnit = gaugeWidth / questionTime;
let TIMER;
let score = 0;

//   When page fully loaded
    jQuery(document).ready(function(){
        alert("test");
        hide(0);
        startQuiz();
        correct.style.display = "none";
        incorrect.style.display = "none";
    });

    // Get scores from JSON
    function get_scores()
    {
        url= "/getscores?room=" + '{{ room }}';
        $.getJSON(url, function(data) {
            var response = JSON.stringify(data);
            return response;
        });
    }
    var scores = get_scores();

    // Update score (insert user and +/- integer)
    function update_score(user, update)
    {
        url = "/updatescore?user="+user+"&update="+update;
        $.get(url, function(data) {
            if (data == true)
            {}
        });
    }

// hide options if option is clicked
function hide(hide){
    var a = document.getElementById("A");
    var b = document.getElementById("B");
    var c = document.getElementById("C");
    var d = document.getElementById("D");

    if (hide == 0){
        a.style.display = "block";
        b.style.display = "block";
        c.style.display = "block";
        d.style.display = "block";
    }else{
        a.style.display = "none";
        b.style.display = "none";
        c.style.display = "none";
        d.style.display = "none";
    }
}


// shuffle indexes of questions
function shuffle(array) {
  var currentIndex = array.length, temporaryValue, randomIndex;

  // While there remain elements to shuffle...
  while (0 !== currentIndex) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex -= 1;

    // And swap it with the current element.
    temporaryValue = array[currentIndex];
    array[currentIndex] = array[randomIndex];
    array[randomIndex] = temporaryValue;
  }

  return array;
}


// render a question
function renderQuestion(){
    alert(score)
    hide(0);
    correct.style.display = "none";
    incorrect.style.display = "none";
    let q = questions[runningQuestion];
    answers = [q.correct, q.answer2, q.answer3, q.answer4]
    let index_array = shuffle([0, 1, 2, 3])

    // to check later if answer is correct
    correctindex = index_array.indexOf(0)

    question.innerHTML = "<p>"+ q.question +"</p>";
    category.innerHTML = q.category
    choiceA.innerHTML = answers[(index_array[0])];
    choiceB.innerHTML = answers[(index_array[1])];
    choiceC.innerHTML = answers[(index_array[2])];
    choiceD.innerHTML = answers[(index_array[3])];
}



// start quiz
function startQuiz(){
    renderQuestion();
    quiz.style.display = "block";
    renderProgress();
    renderCounter();
    TIMER = setInterval(renderCounter,1000); // 1000ms = 1s
}

// render progress
function renderProgress(){
    for(let qIndex = 0; qIndex <= lastQuestion; qIndex++){
        progress.innerHTML += "<div class='prog' id="+ qIndex +"></div>";
    }
}

// counter render

function renderCounter(){
    if(count <= questionTime){
        counter.innerHTML = count;
        timeGauge.style.width = count * gaugeUnit + "px";
        count++

    // if 10 seconds have passed (end question)
    }else{
        hide(0);
        count = 0;
        if(runningQuestion < lastQuestion){
            runningQuestion++;
            renderQuestion();
        }else{
            // end the quiz and show the score
            clearInterval(TIMER);
            scoreRender();
        }
    }
}

// checkAnwer

function checkAnswer(answer){

    if( answer == correctindex){
        // answer is correct
        score = score + (questions[runningQuestion]).pointscorrect;
        correct.style.display = "block";
        // change progress color to green
        answerIsCorrect();
    }else{
        // answer is wrong
        // change progress color to red
        score = score + (questions[runningQuestion]).pointsincorrect
        answerIsWrong();
        incorrect.style.display = "block";
    }
    hide(1);
    update_score("{{ user }}", score)

    // count = 0;
    // if(runningQuestion < lastQuestion){
    //     runningQuestion++;
    //     renderQuestion();
    // }else{
    //     // end the quiz and show the score
    //     clearInterval(TIMER);
        // scoreRender();
    // }
}

// answer is correct
function answerIsCorrect(){
    document.getElementById(runningQuestion).style.backgroundColor = "#0f0";
}

// answer is Wrong
function answerIsWrong(){
    document.getElementById(runningQuestion).style.backgroundColor = "#f00";
}





    </script>
{% endblock %}