{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="first-column">
        <div id="rcorners1">
            <img src="static/minerva.jpg"><br><br>
            <img src="static/webprog.jpg">
        </div>
    </div>
    <div class="second-column">
        <div id="rcorners2">
            <div class="blocktext">
                <i><b><h1 style="color:grey">"Doe toch eens normaal man!,,</h1></b></i><br>
                <b><h2>Test je politieke kennis</h2></b>
                Speel tegen je vrienden en leer over de zeer educatieve uitspraken van politici, de geschiedenis van de rechtstaat en meer!
                <br>
                <br>
                <br>
                <b><h4>Eén persoon dient een kamer aan te maken.</h4></b>
                De host maakt een kamer aan en bepaalt het aantal vragen.<br><br>
                <!--Eén persoon dient een kamer aan te maken. <br>De overige personen kiezen een gebruikersnaam en de kamer hieronder.<br><br>-->
                <input type="button" onclick="location.href='/makeroom'" class="btn btn-primary" value="Kamer aanmaken" />
                <br><br><br>
                <b><h4>De overige spelers kiezen de kamer hieronder.</h4></b>
                Refresh de pagina als de kamer nog niet zichtbaar is in het keuzemenu.
                <br>
                <form class="form-inline" action="/" method="POST">
                    &nbsp;&nbsp;&nbsp;
                    <input type="text" class="form-control" id="username" placeholder="Gebruikersnaam" name="username"><br>

                        <select name="room" class="button1">
                            <option value="standard">Kies een speelkamer</option>
                            {% for room in rooms %}

                            <option value="{{ room }}">{{ room }}</option>
                            {% endfor %}
                        </select>
                    &nbsp;&nbsp;&nbsp;
                    <button class="button2" type="submit">OK</button><br><br><br><br><hr>
                    <p>Wil je een singlesplayer spel spelen? Klik dan op kamer aanmaken en start direct het spel!</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}