{% extends "layout.html" %}

{% block title %}
    Lost
{% endblock %}

{% block main %}
<div class="first-column">
        <div id="rcorners1">

        <img id="lekker" src="/static/byethierry.gif">
         </img>

        </div>
    </div>
 <div class="second-column">
        <div id="rcorners2">
            <div class="blocktext">
                <i><b><h1 stylse="black">Bedankt voor het spelen van ons trivia spel! </h1></b></i><br> <h2 style="black"> Jammer dat je niet hebt gewonnen,
                verbeter je kennis door een nieuw spel te starten.</h2> <br>
        <a class="btn btn-primary" type="onclick" href="/">Spel starten! </a>


{% endblock %}