{% extends "layout.html" %}

{% block title %}
    Kamer aanmaken
{% endblock %}

{% block main %}

<script>
    // Get category from database
    function categoryChoice(number)
    {
        url= "/question?cat=" + number;
        $.getJSON(url, function(data) {
            if (data == true)
            {}
        });
    }

</script>
<div id="rcorners3">
    <br>
    <div class="blocktext">
    <h1>
        Maak een kamer aan
    </h1>
    <a>
        Maak een kamer aan en kies een gebruikersnaam om een spelkamer toe te voegen, .<br> Kies vervolgens het aantal vragen en kies de eerste categorie, klik daarna op "aanmaken" om verder te gaan.<br><hr>
        Omdat jij host bent van dit spel mag jij bepalen welke categorie de eerste vraag wordt!
    </a>
    <br>
    <br>
    <form action="/makeroom" method="post">
        <input autocomplete="off"  name="room" placeholder="Kamernaam" type="text">


        <input autocomplete="off"  name="username" placeholder="Gebruikersnaam" type="text">
        <select name="questions" class="button1">
            <option value="vragen">aantal vragen</option>
            {% for x in range(11) if x > 0 %}
            <option value="{{x}}">{{x}}</option>
            {% endfor %}
        </select>
        <select name="category" class="button1">
            <option value=0>Fractievoorzitters en ministers</option>
            <option value=1>Politiek spectrum</option>
            <option value=2>Geschiedenis</option>
            <option value=3>Uitspraken</option>
        </select>


        <button class="btn btn-primary" type="submit" href="/">Aanmaken</button><br><br>
    </form>
    </div>
</div>

{% endblock %}