{% extends "layout.html" %}

{% block title %}
    Kamer aanmaken
{% endblock %}

{% block main %}
<div id="rcorners3">
    <div class="blocktext">
    <h1>
        Maak een kamer aan
    </h1>
    <a>
        Maak een kamer aan en kies een gebruikersnaam om een spelkamer toe te voegen. Klik daarna op enter om verder te gaan.
    </a>
    <br>
    <br>
    <form action="/makeroom" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="room" placeholder="Kamernaam" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Gebruikersnaam" type="text">
        </div>
        <button class="btn btn-primary" type="submit" href="/">Aanmaken</button>
    </form>
    </div>
</div>

{% endblock %}