{% extends "layout.html" %}

{% block title %}
    Ranking
{% endblock %}

{% block main %}

    <div class="first-column">
        <div id="rcorners1">

        <!-- if rank is number 1 or 2 show good gif-->
         {% for item in ranking %}
         {% if item["rank"] < 2 and item["username"]  == user %}
        <img id="lekker" src="/static/happythierry.gif">
         </img>
         {% endif %}
         {% endfor %}

         <!--if rank is number 3 or higher show bad gif-->
        {% for item in ranking %}
         {% if item["rank"] > 2 and item["username"]  == user %}
        <img id="jammer" src="/static/madthierry.gif">
            </img>
        {% endif %}
         {% endfor %}
        </div>
    </div>
    <div class="second-column">
        <div id="rcorners2">
            <div class="blocktext">
                 <table class="table table-borderd"  style="background-color:powderblue;">
        <tr>
        <th> Ranking </th>
        <th>Gebruikersnaam </th>
        <th>Totale score </th>
        <th>  </th>

        </tr>

            <!--show username score and rank in table-->
            {% for item in ranking %}

        <tr>

            <td> {{item["rank"]}} </td>
            <td>{{item["username"]}} </td>
            <td>{{item["score"]}} </td>



            <!--top 2 will play final-->
            {% if item["rank"] < 3 and item["username"]  ==  user  %}
            <td> <a  id="final"class="btn btn-primary" type="onclick" href="/final">Speel Finale! </a><br><br> </td>
            {% endif %}
            <!--no top 2 should be redirected to lost.html-->
            {% if item["rank"] > 2 and item["username"]  == user %}
            <td> <a  id="thanks"class="btn btn-primary" type="onclick" href="/lost">Dankje voor het spelen! </as><br><br> </td>
            {% endif %}



             </tr>

            {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
