{% extends "layout.html" %}

{% block title %}
    Kamer
{% endblock %}

{% block main %}

<div id="rcorners3">
    <br>
    <h1>{{ top }}</h1>
    <a>Je speelt onder de naam </a>
    <b><font color="blue">{{ user }}</font></b>
    <a> in de kamer</a>
    <b><font color="blue">{{ room }}</font><br>
    {{ message }}</b><br>
    <b><font color="red">{{ w }}</font><br><br><br>

    <form name="startgame"></form>
    {% if host == "yes" %}
        <button class="btn btn-primary" type="submit" onclick=ready()>Spel starten</button><br><br>
    {% endif %}
    </form><br><br>

    <h3>Spelopbouw</h3>
        <div id="text1" style="display:none">Voor elke vraag krijg je 20 seconden de tijd om te antwoorden. </div>
        <div id="text2" style="display:none">Bij een goed antwoord krijg je extra punten, maar bij een onjuist antwoord gaan er punten van jouw score af.</div>
        <div id="text3" style="display:none">Wanneer jij het laagst aantal punten hebt mag je de categorie van de volgende vraag bepalen.</div>
        <div id="text4" style="display:none">Ook kan je enkele hulpmiddelen inzetten.</div>

    <div id="loading" >aan het laden...</div><br><br>



    <img src="static/Spinner-1s-200px (1).gif">

</div>
<script>
    // Check if game is ready (set by host)
    function check_if_ready(){
       time=setInterval(function()
    {
        url = "/check?room=" + '{{ room }}';
        $.get(url, function(data) {
            // If ready, redirect to game
            if (data == true)
            {
                window.location.href = "/game";
            }
        });
    }, 50);
    }

    // When page fully loaded
    jQuery(document).ready(function(){
        // Player screens will check if game was set ready by host
        host = '{{ host }}'
        if (host == "no")
            check_if_ready();
            text();
    });

    // Set game ready (host) and redirect to gamepage
    function ready()
    {
        url= "/setready?room=" + '{{ room }}';
        $.get(url, function(data) {
            if (data == true)
            {
                window.location.href = "/game";
            }

    }

    let count = -1;
    const text1 = document.getElementById("text1");
    const text2 = document.getElementById("text2");
    const text3 = document.getElementById("text3");
    const text4 = document.getElementById("text4");
    const loading = document.getElementById("loading");


function text(){
    setInterval(function(){
        count ++;
        if(count == 0){
            text4.style.display = "none";
            text1.style.display = "block";
            loading.innerHTML = (count + 1) + "/4"
        }
        if(count == 1){
            text1.style.display = "none";
            text2.style.display = "block";
            loading.innerHTML = (count + 1) + "/4"
        }
        if(count == 2){
            text2.style.display = "none";
            text3.style.display = "block";
            loading.innerHTML = (count + 1) + "/4"
        }
        if(count == 3){
            text3.style.display = "none";
            text4.style.display = "block";
            loading.innerHTML = (count + 1) + "/4"
            count = -2;

        }
    }, 4000);
}
</script>
{% endblock %}

